.hero-stuff {
    font-size: 100px;
}

.nav {
    margin: 59px;
}

.jumbotron {
    background: url(http://i66.tinypic.com/28am9fs.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

.card:hover {
    box-shadow :0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-footnote-left {
    float: left;
    color: grey;
    font-size: 80%;
}

.card-footnote-right {
    float : right;
    color: red;
    font-size: 80%
}
 .green {
     background-color :#0bc72a;
     color : white;
 }
